@media screen and (max-width: 768px) {
  body, ul {
      margin: 0 20px;
  }
}
  
/* Overall body style */
body {
  font-family: 'Playfair Display', serif; 
  font-size: 16px;
  color: #5C5048;
}

/* Headings (for all pages)*/
h1 {
  text-align: center;
  font-family: 'Playfair Display', serif; 
  font-weight: 500;
  font-size: 28px;
  color: #DD8886;
}

h2 {
  font-family: Montserrat, sans-serif; 
  font-size: 20px;
  font-weight: lighter;
  text-align: left;
}

h3 {
  font-family: Montserrat, sans-serif;
  font-size: 18px; 
  font-weight: lighter;
  color: #DD8886;
  align-items: left;
}

h4 {
  font-family: 'Playfair Display', serif; 
  font-size: 28px;
  margin-top: 0%;
}
  
/* Header and navigation styling */
header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
}

.nav-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.nav-tabs {
  display: flex;
  list-style: none;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  gap: 40px; 
}
  
.nav-tabs li {
  font-family: Montserrat, sans-serif; 
  margin: 0;
}
  
.nav-tabs a {
  color: #5C5048;
  text-decoration: none;
  font-size: 14px;
  transition: color 0.3s ease;
}
  
.nav-tabs a:hover {
  color: #ddd;
}

.logo {
  font-family: 'Dancing Script', cursive;
  font-size: 45px;
  padding: 15px;
  color: #5C5048;
  text-align: center;
  display: block;
  margin: 0 30px;
  margin-top: 30px;
}

/* Contact Info styling */
.contact-info {
  font-family: Montserrat, sans-serif;
  text-align: center;
  margin-top: 10px;
}

.contact-info a {
  color: #5C5048;
  font-size: 12px;
  text-decoration: none;
  margin: 0 5px;
}

.contact-info a:hover {
  color: #ddd;
}

.home-page {
  max-width: 950px; 
  margin: 40px auto; 
}

/* Hero Section styling*/
.hero-section {
  text-align: center;
}

.bio {
  font-family: 'Playfair Display', serif;  
  color: #A59A95;
  font-size: 22px;
  text-align: center;
  max-width: 600px;
  padding-bottom: 50px;
  margin: 0 auto; 
  margin-top: 20px;
  display: block; 
}

.image-container {
  width: 100%; 
  max-width: 400px; 
  margin: 0 auto; 
}

/* Image styling */
.image-container img {
  width: 100%;
  height: auto;
  object-fit: cover; 
}


/* Skills Section Styling */
.skills-section {
  background-color: #FAE8E2; 
  padding: 70px 0;
  margin: 0 70px;
  margin-left: -50vw;
  margin-right: -50vw;
  left: 50%;
  position: relative;
  width: 100vw;
  text-align: center; /* Ensures the container content is centered */
}

.skills-section h2 {
  width: 100%;
  max-width: 950px; 
  margin: 0 auto 20px; 
  text-align: left;
}

.skills-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px; 
  margin: 0 auto; 
}

.skill {
  background-color: #ffffff; 
  color: #5C5048;
  padding: 40px 26px;
  font-family: 'Playfair Display', serif;
  font-size: 14px;
  border-radius: 30px;
  text-align: center;
  flex: 1;
  min-width: 150px;
  max-width: 250px; 
}

/* Featured Projects Section Styling */
.featured-projects-section {
  margin-top: 70px;
  text-align: center;
}

/* Project Styling */
.projects-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 50px;
}

.project-card {
  width: 300px;
  background-color: #ffffff;
  border: 1px solid #ddd;
  border-radius: 10px;
  overflow: hidden;
}

.project-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.project-content {
  padding: 40px;
}

.project-title {
  font-family: 'Playfair Display', serif;
  font-size: 20px;
  color: #5C5048;
  margin: 0 0 10px;
}

.project-description {
  font-family: 'Playfair Display', serif;
  font-size: 16px;
  color: #666;
  margin-bottom: 25px;
}

.project-link {
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  color: #5C5048;
  text-decoration: none;
  border: 1px solid #5C5048;
  padding: 8px 16px;
  border-radius: 10px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.project-link:hover {
  background-color: #5C5048;
  color: #ffffff;
}

/* Portfolio Styling */
.portfolio-section {
  text-align: center;
  padding: 50px 20px;
}

.portfolio-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.portfolio-card {
  display: flex;
  max-width: 900px;
  background-color: #ffffff;
  border-radius: 10px;
  border: 1px solid #ddd;
  overflow: hidden;
  margin: 20px auto;
}

.portfolio-card img {
  width: 40%;
  height: 100%;
  object-fit: cover;
}

.portfolio-content {
  padding: 80px;
  text-align: left;
  width: 60%;
}



/* Art Board styling */
.artboard-section {
  text-align: center;
  padding: 50px 0;
  max-width: 950px;
  margin:auto
}

.introduction {
  max-width: 950px; 
  margin: 40px auto; 
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}

.gallery img {
  width: 300px; 
  height: auto;
  border-radius: 10px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease;
}

.gallery img:hover {
  transform: scale(1.05);
}



/* About Section Styling */
.about-section {
  max-width: 950px;
  margin: 50px auto;
  padding: 20px;
}

.about-content {
  display: flex;
  justify-content: space-between;
  align-items: center; /* <- Changed from flex-start to center */
  gap: 10px;
  flex-wrap: wrap;
}

.about-title {
  flex: 1;
  min-width: 200px;
}

.about-title h2 {
  color: #5C5048;
  margin-top: 0;
  text-align: left;
}

.about-body {
  flex: 2;
  min-width: 250px;
}

.about-body p {
  color: #A59A95;
  line-height: 1.6;
  margin-bottom: 15px;
  text-align: left;
}

.why-ux-section {
  max-width: 950px;
  margin: 0 auto;
  padding: 30px 20px;
}

.why-ux-section h2 {
  text-align: center;
  color: #5C5048;
  margin-bottom: 20px;
}

.why-ux-section p {
  text-align: left;
  color: #A59A95;
  line-height: 1.6;
  margin-bottom: 15px;
}

.education-container {
  border: 1px solid #E5DED6;
  border-radius: 10px;
  padding: 30px 25px;
  background-color: #fffaf6;
  max-width: 800px;
  margin: 40px auto;
}

.education-section h2 {
  font-size: 24px;
  margin-bottom: 20px;
  text-align: center;
}

.education-text {
  color: #A59A95;
  text-align: left;
  line-height: 1.6;
}

.quote-container {
  max-width: 700px;
  margin: 30px auto;
  padding: 20px;
  text-align: center;
}

.quote-text {
  font-style: italic;
  color: #A59A95;
  font-size: 16px;
  line-height: 1.6;
}

.about-extra {
  padding: 50px 20px;
  max-width: 950px;
  margin: 0 auto;
}

.about-extra h2 {
  text-align: center;
  color: #5C5048;
  margin-bottom: 20px;
}

.about-extra p {
  color: #A59A95;
  line-height: 1.6;
  margin-bottom: 20px;
  text-align: left;
}

/* View Next button Styling */
.viewnext-button-container {
  display: flex;
  justify-content: center;
  margin-top: 50px; /* Adjust spacing to match the layout */
  margin-bottom: 100px; /* Adds space before the footer */
}

.viewnext-button {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  text-decoration: none;
  color: white;
  background-color: #5C5048; /* Adjust color if needed */
  padding: 10px 24px;
  border: 1px solid #5C5048;
  border-radius: 10px;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.viewnext-button:hover {
  background-color: #ffffff; /* Darker shade on hover */
  color: #5C5048;
  transform: scale(1.1);
}

/* Scroll to Top button */
.scroll-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #5C5048; /* Match your site's aesthetic */
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
  padding: 10px 15px;
  border: 1px solid #5C5048;
  border-radius: 50%;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.scroll-to-top:hover {
  background-color: #ffffff; /* A softer brown on hover */
  color: #5C5048;
  transform: scale(1.1);
}




/* Case Study Styling */
.case-study {
  display: flex;
  justify-content: space-between; 
  align-items: flex-start;
  align-items: center;
  max-width: 950px; 
  margin: auto; 
  margin-top: 100px;
}

.case-title {
  font-size: 34px;
  flex: 1; 
  text-align: left; 
}

.case-description {
  color: #949090;
  font-size: 18px;
  width: 50%; 
  text-align: left; 
}

.project-overview {
  background-color: #FAE8E2; 
  padding: 40px;
  border-radius: 20px; 
  margin: auto;
  width: 60%; 
  text-align: left; 
  margin-top: 200px;
}

.project-overview h3 {
  color: #DD8886; 
  font-size: 20px;
  text-align: center;
}

.project-overview p {
  line-height: 1.6;
}


/* Style for Design Process Phase headings and image */
.design-process {
  display: flex; 
  flex-direction: column; 
  justify-content: center; 
  max-width: 950px;
  margin: auto;
  margin-top: 60px;
}

.design-process img {
  width: 100%;
  max-width: 800px; 
  margin: 50px auto;
}

/* Style for Exploratory Research Sections*/
.research-section {
  max-width: 950px;
  margin: 0 auto; 
}

.research-section ul, li {
  padding-left: 20px;
  margin-bottom: 10px;
}

.user-goals-container {
  display: flex;
  justify-content: center; 
  gap: 4%;  
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: left;  
}

.user-needs, .goals {
  width: 45%;  
  line-height: 1.6;
}

.user-needs li, .goals li {
  margin-bottom: 10px;
}

.case-study-note {
  font-size: 18px;
  text-align: center;
  background-color: #FAE8E2;
  max-width: 800px;  
  margin: 40px auto; 
  border-radius: 10px;
  padding: 25px;
}

/* Shared Pain Points */
.shared-pain-points {
  max-width: 950px;
  margin: 0 auto; 
  padding: 0 20px; 
  text-align: left;
  width: 100%;
  margin-top: 40px;
  line-height: 1.6;

}

.shared-pain-points ul {
  list-style-type: none;
  padding-left: 20px;
}

.shared-pain-points ul ul {
  list-style-type: disc;
  padding-left: 30px;
}

.shared-pain-points ul ul li {
  margin-bottom: 10px;
}


/* Framed Container for Problem-Solution-Goal */
.framed-container {
  background-color: #ffffff;  
  border: 2px solid #719F7C;  
  border-radius: 10px;
  padding: 30px;
  max-width: 800px;  
  margin: 40px auto;  
}

.framed-container h2 {
  color: #719F7C;
}

.framed-container ul {
  list-style-type: disc;
  padding-left: 20px;
}

.framed-container p {
  line-height: 1.6;
}

.framed-container ul li {
  margin-bottom: 10px;
}

.alt-container {
  border-color: #83a6d8; /* A reddish tone for contrast */
}

.alt-container h2 {
  color: #83a6d8;
}

/* User Interview Section */
.user-interviews {
  max-width: 800px;
  margin: 50px auto;
  text-align: center;
  padding: 20px;
}

.user-interviews h2 {
  margin-bottom: 15px;
}

.interview-description {
  line-height: 1.6;
  text-align: left;
}

.interview-list {
  line-height: 1.6;
  text-align: left;
}

/* Skillset and Tools Layout */
.skillset-tools {
  display: flex;
  justify-content: space-between;
  gap: 50px;  
  align-items: flex-start;
  max-width: 950px;
  margin: 20px auto;
}

.skillset, .tools {
  width: 48%;
  text-align: left;
}

.skillset ul {
  list-style-type: disc;
  padding-left: 20px;
  line-height: 1.6;
}

/* User Personas */
.user-personas {
  text-align: center;
  padding: 50px 20px;
}

.persona-description {
  font-size: 18px;
  color: #949090;
  margin-bottom: 40px;
}

.persona-container {
  display: flex;
  justify-content: center;
  gap: 50px;
  flex-wrap: wrap;
}

.persona {
  width: 400px;
  background: #fff;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.persona-img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 20px;
}

.persona h3 {
  font-size: 22px;
  margin-bottom: 10px;
}

.persona-content {
  text-align: left;
}

.persona-content h4 {
  margin: 15px 0 5px;
  font-size: 18px;
  color: #333;
}

.persona-content ul {
  list-style-type: disc;
  padding-left: 20px;
  line-height: 1.6;
}

/* Affinity Diagram Section */
.user-research-section {
  text-align: center;
  margin: auto;
  max-width: 950px;
}

.diagram-image {
  width: 100%;
  max-width: 800px;
  border-radius: 10px;
  margin: 20px 0;
}

/* Wireframes Section*/
.wireframe-section {
  margin-top: 60px;
  text-align: left;
}

.wireframe-container {
  display: flex;
  flex-direction: column; /* Stack images vertically */
  align-items: center; /* Center images */
  gap: 20px;
  margin-top: 20px;
}

.wireframe-image {
  width: 100%; /* Ensures full width within the container */
  max-width: 800px; /* Keeps images from being too large */
  border-radius: 10px;
}

/* Discover Page prototype */
.discover-container {
  border: 2px solid #ddd;
  border-radius: 10px;
  padding: 20px;
  max-width: 800px;
  margin: 30px auto;
  text-align: center;
}

.discover-container h3 {
  color: #DD8886; 
  font-size: 20px;
  text-align: center;
}

.discover-container ul {
  list-style-type: disc;
  padding-left: 20px;
  text-align: left;
}

.discover-image {
  width: 100%;
  max-width: 750px;
  margin-top: 20px;
  border-radius: 10px;
}

/* Prototype Container stylying */
.prototype-container {
  padding: 20px;
  max-width: 800px;
  margin: 30px auto;
  text-align: center;
}

.prototype-container ul {
  list-style-type: disc;
  padding-left: 20px;
  text-align: left;
}

.prototype-image {
  width: 40%;
  max-width: 750px;
  margin-top: 20px;
  border-radius: 10px;
}


/* Reflection */
.reflection-container {
  max-width: 950px;
  margin: 30px auto;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 10px;
  border: 2px solid #ddd;
  text-align: left;
}

.reflection-container h3 {
  text-align: center;
  margin-bottom: 20px;
}

.reflection-container ul {
  list-style-type: disc;
  padding-left: 20px;
  line-height: 1.8;
}



/* View Protoype Button Styling */
.viewnext-prototype-container {
  display: flex;
  justify-content: center;
  margin-top: 50px; /* Adjust spacing to match the layout */
  margin-bottom: 100px; /* Adds space before the footer */
}

.view-prototype {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  text-decoration: none;
  color: #5C5048;
  background-color: white; /* Adjust color if needed */
  padding: 10px 24px;
  border: 1px solid #5C5048;
  border-radius: 10px;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.view-prototype:hover {
  background-color: #5C5048; /* Darker shade on hover */
  color: white;
  transform: scale(1.1);
}


/* Footer Styling */
footer {
  background-color: #F5E8D9; /* Light beige background */
  color: #5C5048; /* Pink text */
  text-align: center; /* Center text */
  padding: 20px 0; /* Add some space */
  font-family: Montserrat, sans-serif; /* Match site font */
  font-size: 14px; /* Adjust text size */
}


@media screen and (max-width: 768px) {
  body, ul {
    margin: 0 20px;
  }

  .skills-container {
    flex-direction: column;
    align-items: center;
  }

  .portfolio-card {
    flex-direction: column;
  }

  .portfolio-card img {
    width: 100%;
    height: auto;
  }

  .portfolio-content {
    padding: 40px 20px;
    width: 100%;
    text-align: center;
  }

  .about-content {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .about-title, .about-body {
    width: 100%;
    text-align: center;
  }

  .case-study {
    flex-direction: column;
    align-items: flex-start;
  }

  .case-title, .case-description {
    width: 100%;
    text-align: left;
  }

  .project-overview {
    width: 90%;
  }

  .user-goals-container {
    flex-direction: column;
    gap: 30px;
  }

  .user-needs, .goals {
    width: 100%;
  }
}

