body, ul {
  margin: 0 70px;
  padding: 0;
}
  
/* Overall body style */
body {
  font-family: Montserrat, sans-serif;
}
  
/* Header and navigation styling */
header {
  background-color: white;
  padding: 50px 0;
}

.nav-tabs {
  list-style: none;
  display: flex;
  justify-content: center;
}
  
.nav-tabs li {
  margin: 0 50px;
}
  
.nav-tabs a {
  color: #5C5048;
  text-decoration: none;
  font-size: 14px;
  transition: color 0.3s ease;
}
  
.nav-tabs a:hover {
  color: #ddd;
}
 
.logo {
  font-family: 'Dancing Script', cursive;    
  font-size: 45px;
  padding: 15px;
  color: #5C5048;
}

/* Contact Info styling */
.contact-info {
  font-family: Montserrat, sans-serif;
  text-align: center;
  margin-top: 10px;
}

.contact-info a {
  color: #5C5048;
  font-size: 12px;
  text-decoration: none;
  margin: 0 5px;
}

.contact-info a:hover {
  color: #ddd;
}

/* Heading (for all pages)*/
h1 {
  text-align: center;
  font-family: 'Playfair Display', serif; 
  font-weight: 500;
  font-size: 28px;
  color: #BA6B65;
}


/* Hero Section styling*/
.hero-section {
  text-align: center;
  background-color: #ffffff;

}

.bio {
  font-family: 'Playfair Display', serif;  
  color: #A59A95;
  font-size: 22px;
  margin: 0 330px;
  padding-bottom: 50px;
}

.image-container {
  width: 100%; 
  max-width: 400px; 
  margin: 0 auto; 
}

/* Image styling */
.image-container img {
  width: 100%;
  height: auto;
  object-fit: cover; 
}


/* Skills Section Styling */
.skills-title {
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
  font-weight: lighter;
  color: #5C5048;
  margin-bottom: 30px;
  margin: 70px;
}

.skills-section {
  display: flex;
  justify-content: center;
  background-color: #FAE8E2; 
  padding: 20px 0;
  margin-left: -50vw;
  margin-right: -50vw;
  left: 50%;
  position: relative;
  width: 100vw;
}

.skill {
    background-color: #ffffff; 
    color: #5C5048;
    padding: 20px;
    font-family: 'Dancing Script', cursive;
    font-size: 18px;
    border-radius: 30px;
    text-align: center;
    flex: 1;
    margin: 70px;
}


/* Featured Projects Section Styling */
.featured-projects-section {
  padding: 40px 0;
  text-align: center;
}

.section-title {
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
  font-weight: lighter;
  color: #5C5048;
  margin-bottom: 30px;
}

/* Project Styling */
.projects-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.project-card {
  background-color: #ffffff;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  width: 300px;
}

.project-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.project-content {
  padding: 40px;
}

.project-title {
  font-family: 'Playfair Display', serif;
  font-size: 20px;
  color: #5C5048;
  margin: 0 0 10px;
}

.project-description {
  font-family: 'Playfair Display', serif;
  font-size: 14px;
  color: #666;
  margin-bottom: 25px;
}

.project-link {
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  color: #5C5048;
  text-decoration: none;
  border: 1px solid #5C5048;
  padding: 8px 16px;
  border-radius: 4px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.project-link:hover {
  background-color: #5C5048;
  color: #ffffff;
}

/* Art Board styling */
.gallery {
  width: auto;
}
  